<div class="profile-wrapper">
    <div class='profile-container'>
      <div id='left-side'>
        <div id='profile-image'>
        </div>
        <div id='profile-name'>
          <a href="/users/<%= @user.id %>/edit"><%= @user.fname + " " + @user.lname %> </a>
        </div>

      </div>
      <div id='right-side'>
        <%#= @events.all.reverse.each do |e| %>
          <div class='event-container'>
            <div id='event-name'>
            <%#= @event.name %>
            </div>
            <div id='event-date'>
            <%#= @event.start %>
            </div>
          </div>
        <%# end %>
      </div>
    </div>

</div>
