<div class="profile-wrapper">
  	<div class='profile-container'>
  		<div id='left-side'>
  			<div id='profile-image'>
  			</div>
  			<div id='profile-name'>
          <%= @user.fname + " " + @user.lname %>
  			</div>
  			
  		</div>
  		<div id='right-side'>

  		</div>
  	</div>

</div>