// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page-title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
}

.registrations-wrapper {
  margin: auto;
  text-align: center;
}

.text-box {
  text-align: center;
}

.field {
  margin-bottom: 15px;
}
